Podfile.lock
app-ios/Actor.xcworkspace
app-ios/Actor.xcodeproj/xcuserdata
app-ios/Pods
app-android/.gradle
app-android/.idea
app-android/build
*.iml
local.properties
node_modules
dist
app-desktop/build
